// 模块功能: 初始化变量

@theme-color: #ff4545;  // 主题颜色

@border-color: #e4e4e4;  // 边框颜色

@text-color: #868686;  // 文字颜色

@place-color: #c9c9c9; // 占位颜色

.background(@color: #ffffff, @repeat: no-repeat, @size: 100%, @position: center){
  background-color: @color;
  background-position: @position;
  background-size: @size;
  background-repeat: @repeat;
}

.transition(@transition: all .3s ease){
  transition: @transition;
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
}

.arrow_b(@width: 10px, @color: #fff){
  display: inline-block;
  width: @width;
  height: @width;
  border: 1px solid @color;
  border-right: none;
  border-top:none;
  transform: rotate(-45deg);
}

.arrow_r(@width: 10px, @color: #fff){
  display: inline-block;
  width: @width;
  height: @width;
  border: 1px solid @color;
  border-right: none;
  border-top:none;
  transform: rotate(-135deg);
}

.arrow_l(@width: 10px, @color: #fff){
  display: inline-block;
  width: @width;
  height: @width;
  border: 1px solid @color;
  border-right: none;
  border-top:none;
  transform: rotate(45deg);
}