/* 模块功能: 初始化 */
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
[v-cloak] {
  display: none;
}
.container {
  width: 1170px !important;
}
.container-s {
  width: 970px !important;
  margin: 0 auto;
}
.container-xs {
  width: 580px !important;
  margin: 0 auto;
}
body {
  min-width: 1170px;
}
/* 模板功能：公共样式 */
/* height: 100% */
.h_100 {
  height: 100%;
}
/* color: @theme-color */
.theme-color {
  color: #ff4545 !important;
}
/* 文字链接 */
.text-link {
  color: #868686;
}
.text-link:hover {
  color: orange;
  text-decoration: none;
}
.text-link:active {
  color: orange;
  text-decoration: none;
}
.text-link:focus {
  color: orange;
  text-decoration: none;
}
/* padding: 0 */
.no-p {
  padding: 0;
}
/* padding-right: 0 */
.no-pr {
  padding-right: 0;
}
/* padding-left: 0 */
.no-pl {
  padding-left: 0;
}
/* margin: 0 */
.no-m {
  margin: 0;
}
.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
}
/* 文字颜色 */
.text-color {
  color: #868686;
}
/* 背景占位颜色 */
.back-place {
  background-color: #c9c9c9;
}
/* 头部导航 */
.header {
  /* 搜索框 */
}
.header-console {
  width: 100%;
  background: #F5F5F5;
  padding: 4px 0;
}
.header-console-links a {
  margin-left: 8px;
}
.header-console-links .arrow_b {
  display: inline-block;
  width: 5px;
  height: 5px;
  border: 1px solid #868686;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  position: relative;
  bottom: 3px;
}
.header-links {
  width: 100%;
  padding: 5px 0;
  height: 60px;
  background-color: #ff4545;
}
.header-links-ul {
  width: 100%;
  padding: 10px 0;
}
.header-links-ul > li {
  height: 30px;
  float: left;
  margin-right: 40px;
}
.header-links-ul > li.active {
  border-bottom: 3px solid #ffffff;
}
.header-links-ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #f1f1f1;
}
.header-links-ul > li > a:link {
  text-decoration: none;
}
.header .search {
  width: 100%;
  height: 100%;
  padding: 12px 0;
}
.header .search .search-input {
  width: 100%;
  height: 26px;
  position: relative;
}
.header .search .search-input .icon {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  background: url(../images/icon-search.png) no-repeat center;
  background-size: 75%;
}
.header .search .search-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 26px;
}
.header .logo {
  height: 28px;
}
.header .logo-title {
  margin-top: 4px;
  color: #fff;
}
.messages-tpl {
  width: 300px;
}
.messages-tpl .messages-top {
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 0;
}
.messages-tpl .messages-top h4 {
  font-size: 15px;
}
.messages-tpl .messages-body {
  height: 250px;
  overflow-y: auto;
}
.messages-tpl .messages-item {
  padding: 5px 10px;
  text-decoration: none;
}
.messages-tpl .messages-item .read-mark {
  display: none;
}
.messages-tpl .messages-item:hover .read-mark {
  display: block;
}
.messages-tpl .messages-bottom {
  padding: 6px 10px;
  border-top: 1px solid #e4e4e4;
  text-align: right;
}
.messages-tpl .messages-bottom a {
  margin-left: 10px;
}
.bread-nav {
  margin-bottom: 10px;
}
.flex-container {
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
}
.flex1 {
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
}
.eq-100 {
  background-color: #ff4545;
}
.gt-80 {
  background-color: orange;
}
.gt-60 {
  background-color: limegreen;
}
.lt-60 {
  background-color: #b4b4b4;
}
/* 尾部 */
.footer-top {
  padding: 20px 0;
  background-color: #ff9900;
}
/* index页样式 */
.page-index .main {
  margin-top: 15px;
}
.page-index .category {
  border: 1px solid #e4e4e4;
}
.page-index .category > li {
  height: 40px;
  padding: 8px;
  line-height: 24px;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
}
.page-index .category > li:hover {
  background-color: #f4f4f4;
}
.page-index .category > li:hover .category-detail {
  display: block;
}
.page-index .category > li:last-of-type {
  border: none;
}
.page-index .category > li > a {
  margin-left: 10px;
}
.page-index .category > li:after {
  content: '>';
  position: absolute;
  height: 100%;
  right: 10px;
  line-height: 22px;
  color: #868686;
}
.page-index .category-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-color: #ffffff;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.page-index .category-detail {
  width: 500px;
  display: none;
  position: absolute;
  top: -1px;
  left: 100%;
  border: 1px solid #e4e4e4;
  background-color: #ffffff;
  z-index: 1000;
  padding: 10px 15px;
}
.page-index .category-detail-title {
  padding-left: 10px;
  line-height: 16px;
  border-left: 3px solid #ff4545;
}
.page-index .category-detail a {
  margin-right: 10px;
}
.page-index .category-detail .col-xs-6 {
  margin-top: 20px;
}
.page-index .category-detail .col-xs-6:nth-of-type(1),
.page-index .category-detail .col-xs-6:nth-of-type(2) {
  margin-top: 0;
}
.page-index .swiper-slide {
  background-color: #ffffff;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.page-index .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.page-index .swiper-container:hover .swiper-button {
  opacity: 1;
}
.page-index .swiper-button {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  background-size: 80%;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.page-index .swiper-button-prev {
  background-image: url(../images/icon-arrow-left.png);
}
.page-index .swiper-button-next {
  background-image: url(../images/icon-arrow-right.png);
}
.page-index .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 0;
}
.page-index .swiper-pagination-bullet-active {
  background-color: rgba(255, 0, 0, 0.8);
}
.page-index .rank-wrap.fixed {
  position: fixed;
  top: 0;
  width: 262.5px;
  z-index: 1000;
}
.page-index .rank {
  background-color: #fff;
}
.page-index .rank-title {
  padding: 8px 10px;
  background-color: #ff4545;
  color: #fff;
  line-height: 16px;
  position: relative;
}
.page-index .rank-item {
  position: relative;
  border: 1px solid #e4e4e4;
  border-top: none;
  padding: 8px;
}
.page-index .rank-item-visible {
  position: relative;
}
.page-index .rank-item-link {
  height: 16px;
  line-height: 16px;
  padding-left: 24px;
  padding-right: 75px;
}
.page-index .rank-item-index {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  background-color: deepskyblue;
  color: #fff;
}
.page-index .rank-item-price {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  color: red;
  text-align: right;
}
.page-index .rank-item-hidden {
  margin-top: 8px;
  display: none;
  height: 60px;
}
.page-index .rank-item-hidden .rank-item-img {
  width: 60px;
  height: 60px;
  background-color: #000;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.page-index .rank-item-desc {
  margin-left: 68px;
  height: 100%;
}
.page-index .rank-item-desc .ab_item {
  margin-top: 15px;
  margin-bottom: 0;
}
.page-index .rank .rank-item:nth-of-type(1) .rank-item-index {
  background-color: #ff1234;
}
.page-index .rank .rank-item:nth-of-type(2) .rank-item-index {
  background-color: darkorange;
}
.page-index .rank .rank-item:nth-of-type(3) .rank-item-index {
  background-color: #ffcd12;
}
.page-index .rank .rank-item:nth-of-type(1) .rank-item-hidden {
  display: block !important;
}
.page-index .rank-select {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.page-index .rank-select:hover {
  color: #fff;
}
.page-index .rank-select-arrow {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  position: relative;
  top: -3px;
  margin-left: 5px;
}
.page-index .rank-select-panel {
  background: #fff;
  color: #000;
  padding: 5px 0;
  width: 100px;
}
.page-index .rank-select-panel p {
  padding: 5px 10px;
  margin-bottom: 0;
  cursor: pointer;
}
.page-index .rank-select-panel p:hover {
  background-color: #ff4545;
  color: #fff;
}
.page-index .pro-list {
  margin-top: 15px;
}
.page-index .pro-cate-item {
  margin-bottom: 30px;
}
.page-index .pro-cate-item .title {
  height: 18px;
  padding-left: 10px;
  line-height: 18px;
  border-left: 4px solid #ff4545;
}
.page-index .pro-cate-item .title-text {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  color: #ff4545;
}
.page-index .pro-cate-item .link-btn {
  padding: 1px 8px;
  margin-left: 8px;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
  color: #868686;
}
.page-index .pro-cate-item .link-btn:hover {
  color: #ff4545;
  border-color: #ff4545;
}
.page-index .pro-cate-item .pro-img {
  margin-top: 10px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.page-index .pro-cate-item .pro-img-item {
  width: 165px;
}
.page-index .pro-cate-item .pro-img img {
  width: 100%;
  height: 165px;
}
.page-index .pro-cate-item .pro-item-title {
  margin-top: 4px;
}
.page-index .pro-cate-item .pro-item-price {
  color: red;
  font-size: 16px;
}
.page-index .pro-cate-item:nth-of-type(1) .title {
  border-color: #ff4545;
}
.page-index .pro-cate-item:nth-of-type(1) .title-text {
  color: #ff4545;
}
.page-index .pro-cate-item:nth-of-type(1) .link-btn:hover {
  color: #ff4545;
  border-color: #ff4545;
}
.page-index .pro-cate-item:nth-of-type(2) .title {
  border-color: #19be6b;
}
.page-index .pro-cate-item:nth-of-type(2) .title-text {
  color: #19be6b;
}
.page-index .pro-cate-item:nth-of-type(2) .link-btn:hover {
  color: #19be6b;
  border-color: #19be6b;
}
.page-index .pro-cate-item:nth-of-type(3) .title {
  border-color: #ff9900;
}
.page-index .pro-cate-item:nth-of-type(3) .title-text {
  color: #ff9900;
}
.page-index .pro-cate-item:nth-of-type(3) .link-btn:hover {
  color: #ff9900;
  border-color: #ff9900;
}
.page-index .pro-cate-item:nth-of-type(4) .title {
  border-color: #5cadff;
}
.page-index .pro-cate-item:nth-of-type(4) .title-text {
  color: #5cadff;
}
.page-index .pro-cate-item:nth-of-type(4) .link-btn:hover {
  color: #5cadff;
  border-color: #5cadff;
}
.page-index .pro-cate-item:nth-of-type(5) .title {
  border-color: #ff5678;
}
.page-index .pro-cate-item:nth-of-type(5) .title-text {
  color: #ff5678;
}
.page-index .pro-cate-item:nth-of-type(5) .link-btn:hover {
  color: #ff5678;
  border-color: #ff5678;
}
.page-index .pro-cate-item:nth-of-type(6) .title {
  border-color: #FFDA44;
}
.page-index .pro-cate-item:nth-of-type(6) .title-text {
  color: #FFDA44;
}
.page-index .pro-cate-item:nth-of-type(6) .link-btn:hover {
  color: #FFDA44;
  border-color: #FFDA44;
}
.page-login-register {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
}
.page-login-register .main {
  margin: 0 auto;
  margin-top: 30px;
  width: 360px;
}
.page-login-register .login-panel {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
}
.page-login-register .footer-info {
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
.page-search {
  background-color: #f5f5f5;
}
.page-search .main {
  margin-top: 15px;
}
.page-search .control {
  width: 100%;
  height: 30px;
  margin-top: 13px;
  background-color: #fff;
}
.page-search .control-btns {
  float: left;
}
.page-search .control-btns a {
  float: left;
  padding: 0 15px;
  line-height: 30px;
  color: #868686;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.page-search .control-btns a.active {
  color: #fff;
  background-color: #ff4545;
}
.page-search .control-btns a.active:hover {
  color: #fff;
}
.page-search .control-btns a:hover {
  color: #ff4545;
}
.page-search .control-price {
  float: left;
  padding: 5px 0;
  margin-left: 50px;
}
.page-search .control-price-input-wrap {
  display: inline-block;
  border: 1px solid #e4e4e4;
  line-height: 18px;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.page-search .control-price-input-wrap span {
  position: absolute;
  color: #868686;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.page-search .control-price-input-wrap.active {
  border-color: #ff4545;
}
.page-search .control-price-input-wrap.active span {
  color: #ff4545;
}
.page-search .control-price-input {
  width: 65px;
  height: 14px;
  outline: none;
  border: none;
  padding-left: 12px;
}
.page-search .control-price-confirm {
  display: none;
  border: 1px solid #e4e4e4;
  color: #868686;
  cursor: pointer;
  padding: 3px 10px;
  line-height: 1;
}
.page-search .control-price-confirm:hover {
  color: #ff4545;
  border-color: #ff4545;
}
.page-search .cate-list {
  margin-top: 15px;
}
.page-search .cate-list .row {
  margin: 0 -8px;
}
.page-search .cate-list .col-xs-3 {
  padding: 0 8px;
}
.page-search .cate-item {
  background-color: #fff;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 15px;
}
.page-search .cate-item:hover {
  box-shadow: 0 0 8px #e4e4e4;
}
.page-search .cate-item-username {
  padding-left: 34px;
}
.page-search .cate-item-top img {
  width: 26px;
  height: 26px;
  background-color: #c9c9c9;
}
.page-search .cate-item-middle {
  width: 100%;
  margin-top: 10px;
  height: 211px;
  background: #c9c9c9 url("../images/logo.png") no-repeat center;
  background-size: 60%;
}
.page-search .cate-item-middle img {
  width: 100%;
}
.page-search .cate-item-price {
  color: #ff4545;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
}
.page-search .cate-item-time {
  color: #868686;
}
.page-search .cate-item-bottom {
  width: 100%;
  height: 34px;
  overflow: hidden;
}
/* product页样式 */
.page-product .main {
  margin-top: 15px;
}
.page-product .pro-top-line {
  width: 100%;
  height: 2px;
  background-color: #ff4545;
}
.page-product .pro-top-main {
  width: 100%;
  height: 50px;
  border: 1px solid #e4e4e4;
  border-top: none;
}
.page-product .pro-top-main .user-info {
  float: left;
  padding: 10px;
  border-right: 1px solid #e4e4e4;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.page-product .pro-top-main .user-info img {
  float: left;
  width: 30px;
  height: 30px;
}
.page-product .pro-top-main .user-info p {
  margin-left: 40px;
  position: relative;
}
.page-product .pro-top-main .user-info .arrow_b {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 1px solid #868686;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -3px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.page-product .pro-top-main .user-info:hover {
  background-color: #e4e4e4;
}
.page-product .pro-top-main .user-info:hover .arrow_b {
  opacity: 0;
}
.page-product .pro-top-main .pro-info {
  float: left;
  padding: 8px 0;
  height: 100%;
}
.page-product .pro-top-main .pro-info-item {
  float: left;
  padding: 0 15px;
  border-right: 1px dashed #e4e4e4;
  height: 100%;
}
.page-product .pro-top-main .pro-info-item p {
  margin: 0;
}
.page-product .pro-middle {
  margin-top: 15px;
}
.page-product .pro-middle .swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.page-product .pro-middle .swiper-slide {
  background-size: cover;
  background-position: center;
}
.page-product .pro-middle .gallery-top {
  height: 400px;
  width: 100%;
  background: #f4f4f4;
}
.page-product .pro-middle .gallery-top .swiper-slide {
  text-align: center;
}
.page-product .pro-middle .gallery-top .swiper-slide img {
  height: 100%;
}
.page-product .pro-middle .gallery-thumbs {
  height: 64px;
  box-sizing: border-box;
}
.page-product .pro-middle .gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
  border: 1px solid #e4e4e4;
}
.page-product .pro-middle .gallery-thumbs .swiper-slide:hover {
  border-color: #ff4545;
}
.page-product .pro-middle .gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.page-product .pro-middle .gallery-thumbs-wrapper {
  position: relative;
  padding: 10px 40px;
}
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-button-next,
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-button-prev {
  height: 64px;
  border: 1px solid #e4e4e4;
  width: 30px;
  margin-top: -32px;
}
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-button-next:hover,
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-button-prev:hover {
  border-color: #ff4545;
}
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-button-next:hover .arrow,
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-button-prev:hover .arrow {
  border-color: #ff4545;
}
.page-product .pro-middle .gallery-thumbs-wrapper .arrow {
  position: absolute;
  top: 50%;
  margin-top: -7px;
}
.page-product .pro-middle .gallery-thumbs-wrapper .arrow_l {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #b8b8b8;
  border-right: none;
  border-top: none;
  transform: rotate(45deg);
  left: 10px;
}
.page-product .pro-middle .gallery-thumbs-wrapper .arrow_r {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #b8b8b8;
  border-right: none;
  border-top: none;
  transform: rotate(-135deg);
  left: 2px;
}
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-button-next,
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-container-rtl .swiper-button-prev {
  right: 0;
  background-image: none !important;
}
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-button-prev,
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-container-rtl .swiper-button-next {
  left: 0;
  background-image: none !important;
}
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-button-next.swiper-button-disabled,
.page-product .pro-middle .gallery-thumbs-wrapper .swiper-button-prev.swiper-button-disabled {
  opacity: .9;
}
.page-product .pro-buy-top {
  position: relative;
  height: 400px;
}
.page-product .pro-buy .p-label {
  display: inline-block;
  width: 70px;
}
.page-product .pro-buy .p-value {
  display: inline-block;
  width: 325px;
  text-align: justify;
  vertical-align: top;
}
.page-product .pro-buy .collect-btn {
  font-size: 12px;
  font-weight: normal;
  padding: 2px 6px;
  font-style: normal;
  color: #fff;
  background-color: orange;
  margin-top: 6px;
  cursor: pointer;
  border-radius: 2px;
}
.page-product .pro-buy .confirm-btn {
  width: 200px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #ff4545;
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 40px;
  cursor: pointer;
}
.page-product .pro-buy .confirm-btn:hover {
  background-color: #ff5f5f;
}
.page-product .pro-buy .pro-warn {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  padding-right: 10px;
}
.page-product .pro-buy-p {
  font-size: 14px;
}
.page-product .pro-tabs {
  margin-top: 15px;
}
.page-product .pro-tabs .tabs-bar {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #ff4545;
}
.page-product .pro-tabs .tabs-item {
  padding: 0 20px;
  height: 100%;
  float: left;
  font-weight: bold;
  line-height: 38px;
  border-left: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
  cursor: pointer;
}
.page-product .pro-tabs .tabs-item:last-of-type {
  border-right: 1px solid #e4e4e4;
}
.page-product .pro-tabs .tabs-item.active {
  background-color: #ff4545;
  color: #fff;
  border-color: #ff4545;
}
.page-product .pro-tabs .tabs-panel-item {
  display: none;
  padding-top: 15px;
}
.page-product .pro-tabs .tabs-panel-item.active {
  display: block;
}
.page-product .comment-panel li {
  padding: 10px 0;
  border-top: 1px dashed #c9c9c9;
}
.page-product .comment-panel img {
  width: 32px;
  height: 32px;
  background-color: #c9c9c9;
  float: left;
}
.page-product .comment-panel p {
  margin-left: 40px;
}
.page-product .comment-control {
  margin-top: 15px;
}
.page-product .comment-control .comment-tr {
  width: 100%;
  height: 88px;
}
.page-product .comment-control .comment-tr textarea {
  width: 100%;
  height: 100%;
  color: #868686;
  border-color: #c9c9c9;
  font-size: 14px;
  resize: none;
  padding: 3px 5px;
  outline: none;
}
.page-product .comment-control .comment-tr-btm {
  width: 100%;
  height: 30px;
  border: 1px solid #c9c9c9;
  border-top: none;
  position: relative;
  padding: 5px 0;
  margin-bottom: 15px;
  background: linear-gradient(#fcfcfc, #e9e9e9);
}
.page-product .comment-control .comment-tr-btm .comment-limit {
  margin-right: 15px;
  line-height: 20px;
  font-size: 14px;
}
.page-product .comment-control .comment-tr-btm .comment-submit {
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 2px;
  line-height: 20px;
  height: 100%;
  color: #fff;
  cursor: pointer;
  background-color: #ff4545;
}
.page-product .comment-control .comment-tr-btm .comment-submit:hover {
  background-color: #ff5f5f;
}
.page-product .pro-buy-recommend {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #e4e4e4;
  padding-top: 5px;
}
.page-product .pro-buy-recommend .recommend-top {
  height: 30px;
  line-height: 30px;
}
.page-product .pro-buy-recommend .recommend-top h4 {
  font-size: 16px;
  line-height: 30px;
}
.page-product .pro-buy-recommend .recommend-body {
  padding-top: 5px;
}
.page-product .pro-buy-recommend .recommend-body .row {
  margin: 0 -7px;
}
.page-product .pro-buy-recommend .recommend-body .col-xs-6 {
  padding: 0 7px;
  position: relative;
  margin-bottom: 15px;
}
.page-product .pro-buy-recommend .recommend-body img {
  width: 80px;
  height: 80px;
  background-color: #c9c9c9;
  float: left;
}
.page-product .pro-buy-recommend .recommend-body p {
  margin-left: 90px;
}
.page-product .pro-buy-recommend .recommend-body .price {
  position: absolute;
  bottom: 8px;
  margin-bottom: 0;
  font-size: 14px;
  color: red;
  font-weight: bold;
}
.user-info-tooltip {
  padding: 10px;
}
.user-info-tooltip .credits {
  color: #fff;
  padding: 0 10px;
}
.page-publish .main {
  margin-top: 15px;
}
.page-publish .upload-list {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  position: relative;
  padding: 2px;
  border: 1px solid #e4e4e4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-right: 12px;
}
.page-publish .upload-list img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.page-publish .upload-list img {
  width: 100%;
  height: 100%;
}
.page-publish .upload-list-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
.page-publish .upload-list-cover .ivu-icon {
  line-height: 80px;
}
.page-publish .upload-list:hover .upload-list-cover {
  display: block;
}
.page-publish .upload-list-cover i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}
.page-publish .upload-panel {
  width: 80px;
  display: inline-block;
  margin-left: -4px;
}
.page-publish .upload-panel-body {
  width: 80px;
  height: 80px;
  line-height: 88px;
  border: 1px dashed #e4e4e4;
}
.page-publish .upload-panel .ivu-upload {
  border: none;
}
.page-publish .img-form-item .ivu-form-item-error-tip {
  margin-top: -10px;
}
.page-me .main {
  margin-top: 15px;
}
.page-me .menu-item {
  margin-top: 10px;
  cursor: pointer;
}
.page-me .menu-item.active a {
  color: #ff4545;
}
.page-me .menu-item:hover a {
  color: #ff4545;
}
.page-me .detail-top {
  width: 100%;
  border: 1px solid #e4e4e4;
  padding: 12px;
  background-color: #f8f8f9;
}
.page-me .detail-top .avatar {
  width: 100px;
}
.page-me .detail-top .avatar img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #c9c9c9;
}
.page-me .detail-top .info {
  width: 180px;
}
.page-me .detail-top .info .balance {
  color: red;
  font-size: 14px;
  font-weight: bold;
}
.page-me .detail-top .info .credits {
  padding: 1px 5px;
  color: #fff;
}
.page-me .detail-top .info p {
  margin-bottom: 3px;
}
.page-me .detail-body {
  margin-top: 20px;
}
.page-me .detail-body .i-tabs {
  border: 1px solid #e4e4e4;
  background-color: #f8f8f9;
}
.page-me .detail-body .i-tabs-item {
  width: 90px;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: center;
  color: #686868;
  cursor: pointer;
}
.page-me .detail-body .i-tabs-item:hover {
  color: #ff4545;
}
.page-me .detail-body .i-tabs-item.active {
  border-bottom: 3px solid #ff4545;
  color: #ff4545;
  font-weight: bold;
}
.page-me .detail-body .i-tabs-panel-item {
  display: none;
}
.page-me .detail-body .i-tabs-panel-item.active {
  display: block;
}
.page-me .orders-list {
  margin-top: 10px;
  border: 1px solid #DAF3FF;
}
.page-me .orders-list:hover {
  border-color: #aed8ff;
}
.page-me .orders-list-top {
  padding: 10px;
  background-color: #EAF8FF;
  border-bottom: 1px solid #DAF3FF;
}
.page-me .orders-list .is-sale-text {
  color: limegreen;
}
.page-me .orders-list .is-buy-text {
  color: orange;
}
.page-me .orders-list .is-finish-text {
  color: #595959;
}
.page-me .orders-list-body {
  padding: 10px;
}
.page-me .orders-list-body .img_link img {
  width: 60px;
  height: 60px;
}
.page-me .orders-list-body .img_link p {
  margin-left: 70px;
}
.page-me .orders-list.is-finish {
  border-color: #ECECEC;
}
.page-me .orders-list.is-finish .orders-list-top {
  background-color: #f1f1f1;
  border-color: #ECECEC;
}
.page-me .message-manager,
.page-me .collect-manager,
.page-me .product-manager {
  border: 1px solid #e4e4e4;
}
.page-me .message-manager .i-tabs,
.page-me .collect-manager .i-tabs,
.page-me .product-manager .i-tabs {
  border: none;
  border-bottom: 1px solid #e4e4e4;
}
.page-me .i-tabs-panel .message-list {
  padding: 5px 10px;
  border-bottom: 1px solid #e4e4e4;
}
.page-me .i-tabs-panel .message-list:last-of-type {
  border-bottom: none;
}
.page-me .collect-list {
  padding: 0 7px;
  margin-top: 15px;
}
.page-me .collect-list img {
  width: 60px;
  height: 60px;
  background-color: #c9c9c9;
}
.page-me .collect-list p {
  padding-left: 70px;
}
.page-me .collect-list .has-down {
  padding: 0 5px;
  background-color: #b8b8b8;
  color: #fff;
  border-radius: 2px;
}
.page-me .collect-list .has-up {
  padding: 0 5px;
  background-color: orange;
  color: #fff;
  border-radius: 2px;
}
.page-me .collect-manager .collect-list:nth-of-type(1),
.page-me .collect-manager .collect-list:nth-of-type(2),
.page-me .collect-manager .collect-list:nth-of-type(3) {
  margin-top: 0;
}
.page-me .product-manager .collect-list:nth-of-type(1),
.page-me .product-manager .collect-list:nth-of-type(2) {
  margin-top: 0;
}
.page-pay .pay-panel-p {
  padding-left: 72px;
}
.page-pay .pay-panel-p > strong {
  display: inline-block;
  width: 60px;
}
.page-pay .pay-panel-p > span {
  display: inline-block;
  width: 410px;
  vertical-align: text-top;
}
/* 模块功能：重写库样式 */
body {
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}
/* 分页相关 */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #ff4545;
  border-color: #ff4545;
}
.pagination > li > a,
.pagination > li > span {
  color: #868686;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #ff4545;
  background-color: #fff;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
/* tooltip */
.tooltip-content {
  display: none;
}
.tooltipster-sidetip .tooltipster-content {
  padding: 0;
  background-color: #fff;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: #fff;
}
.tooltipster-content .tooltip-content {
  display: block !important;
}
