<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LCXMB.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="LCXMB.pojo.Orders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
    <result column="saler_name" jdbcType="VARCHAR" property="salerName" />
    <result column="pro_id" jdbcType="INTEGER" property="proId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="addr_id" jdbcType="INTEGER" property="addrId" />
    <result column="buyer_score" jdbcType="INTEGER" property="buyerScore" />
  </resultMap>

  <resultMap id="OrderAndProductsMap" type="LCXMB.pojo.OrderAndProducts">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
    <result column="saler_name" jdbcType="VARCHAR" property="salerName" />
    <result column="pro_id" jdbcType="INTEGER" property="proId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="addr_id" jdbcType="INTEGER" property="addrId" />
    <result column="buyer_score" jdbcType="INTEGER" property="buyerScore" />
    <result column="saler_score" jdbcType="INTEGER" property="salerScore" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="img_urls" jdbcType="VARCHAR" property="imgUrls" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, buyer_name, saler_name, pro_id, create_time, addr_id, buyer_score, saler_score
  </sql>
  <select id="selectByExample" parameterType="LCXMB.pojo.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="LCXMB.pojo.OrderExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="LCXMB.pojo.Orders">
    insert into orders (id, buyer_name, saler_name,
      pro_id, create_time, addr_id, buyer_score, saler_score)
    values (#{id,jdbcType=INTEGER}, #{buyerName,jdbcType=VARCHAR}, #{salerName,jdbcType=VARCHAR}, 
      #{proId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{addrId,jdbcType=INTEGER},
       #{buyerScore,jdbcType=INTEGER},  #{salerScore,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="LCXMB.pojo.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="buyerName != null">
        buyer_name,
      </if>
      <if test="salerName != null">
        saler_name,
      </if>
      <if test="proId != null">
        pro_id,
      </if>
      <if test="time != null">
        create_time,
      </if>
      <if test="addrId != null">
        addr_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null">
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="salerName != null">
        #{salerName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addrId != null">
        #{addrId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="LCXMB.pojo.OrderExample" resultType="java.lang.Long">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.buyerName != null">
        buyer_name = #{record.buyerName,jdbcType=VARCHAR},
      </if>
      <if test="record.salerName != null">
        saler_name = #{record.salerName,jdbcType=VARCHAR},
      </if>
      <if test="record.proId != null">
        pro_id = #{record.proId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set id = #{record.id,jdbcType=INTEGER},
      buyer_name = #{record.buyerName,jdbcType=VARCHAR},
      saler_name = #{record.salerName,jdbcType=VARCHAR},
      pro_id = #{record.proId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="LCXMB.pojo.Orders">
    update orders
    <set>
      <if test="buyerName != null">
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="salerName != null">
        saler_name = #{salerName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null">
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buyerScore != null">
        create_time = #{buyercore,jdbcType=TIMESTAMP},
      </if>
      <if test="salerScore != null">
        create_time = #{salerScore,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="LCXMB.pojo.Orders">
    update orders
    set buyer_name = #{buyerName,jdbcType=VARCHAR},
      saler_name = #{salerName,jdbcType=VARCHAR},
      pro_id = #{proId,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectOrderAndProductsByUsername" resultMap="OrderAndProductsMap">
    select * from orders left join product on (orders.pro_id = product.id)
    where orders.saler_name = #{username} or orders.buyer_name = #{username}
    order by orders.create_time
  </select>
</mapper>